body {
    background-color: #4E5153;
    background-size: cover;
    font-family: 'opensans-bold', sans-serif;
    color: #fff;
    text-shadow: 0px 1px 1px #000;
}

p {
    margin: auto;
    width: 90%;
    padding: 10px;
    text-align: right;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    color: #ffffff
}


hr {
    text-align: right;
    margin: 0 0 0 auto;
    width: 30%;
    border: none;
     height: 1px;
     color: #333; /* old IE */
     background-color: #333; /* Modern Browsers */
  }

#logo img {
    width: 67%;
    height: auto;
    float: left;
}

