
.timer {
	margin: auto;
	margin-top: 2%;
	margin-bottom: 5%;
	width: 100%;
	text-align: center;
	padding: 15px;
    background: rgb(253, 209, 170);
	border-radius: 10px;
	font-size: 1.5em;
	width: 50%;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid black;
	visibility: hidden;

}

.resign {
	text-align: center;
	visibility: hidden;
}

.buttonresign {
	display: inline-block;
	margin-top: 5%;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 209, 170);
    border: none;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.5s;
	border-radius: 10px;
	border: 1px solid black;
}

.buttonresign span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .buttonresign span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .buttonresign:hover span {
    padding-right: 20px;
  }
  
  .buttonresign:hover span:after {
    opacity: 1;
    right: 0;
  }

.buttonresign:hover {background-color: rgb(247, 198, 156)}

.buttonresign:active {
    background-color: rgb(247, 198, 156);
    transform: translateY(8px);
}


body {
	overflow-y: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4E5153;
}

#chess-board {
	width: 70vh;
	height: 70vh;
	border: 1px solid black;
}

.row {
	width: 100%;
	height: 12.5%;
}

.square {
	width: 12.5%;
	height: 100%;
	float: left;
	background: rgb(151, 95, 11);
	box-sizing: border-box;
}

.row:nth-of-type(2n) .square:nth-of-type(2n) {
	background: rgb(253, 209, 170);
}

.row:nth-of-type(2n +1) .square:nth-of-type(2n +1) {
	background: rgb(253, 209, 170);
}

img.piece {
	max-width: 100%;
	max-height: 90%;
	display: block;
	margin: 0 auto;
	margin-top: 3%;
}

/* The Modal (background) */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}
.modalconent {
    background-color: #fff5f5;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* === SCREEN TOO SMALL */
#screen-too-small {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #4E5153;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}

@media only screen and (min-width: 800px) and (min-height: 400px) {
    #screen-too-small {
        display: none;
    }
}

.fullscreen {
	position: relative;
	visibility: hidden;
}

.fullscreen img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: black;
	
}

.buttonfullscreen {
	position:absolute;
	padding: 15px;
    bottom:0;
    right:0;
	border-radius: 50px;
	background-color: rgb(253, 209, 170);
	cursor: pointer;
}

@keyframes slideInFromLeft {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
  #chess-board {  
	/* This section calls the slideInFromLeft animation we defined above */
	animation: 4s ease-out 0s 1 slideInFromLeft;
	
	background: #333;
	/* padding: 30px; */
  }